<div>
  <h1>Books</h1>

  <div>
    <ul>
      <% @books.each do |book| %>
        <li><%= book.cover %></li>
        <li><%= book.title %></li>
        <li><%= book.author %></li>
        <li><%= book.description %></li>
        <li><%= book.genre %></li>
        <li><%= book.publish_company %></li>
        <li><%= book.page %></li>
        <li><%= book.year_publish %></li>
      <% end %>
    </ul>
  </div>
</div>