<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div id="book_currents" class="mx-auto max-w-8xl px-2 sm:px-6 lg:px-8">
    <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
            <div class="flex justify-between items-center">
              <h1 class="font-bold text-4xl">Book Current</h1>
              <%= link_to t("links.back"), welcome_index_path, class: "rounded-lg py-3 px-5 bg-white-600 text-black block font-medium border hover:bg-gray-100" %>
              <%= link_to t("links.new_book_current"), new_book_current_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium hover:bg-blue-500" %>
            </div>

          <table class="table table-hover w-full my-3">
            <thead class="bg-gray-200 border-b">
              <tr class="grid grid-cols-4 gap-3">
                
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left"><%= @book_currents.human_attribute_name(:current_type) %></th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @book_currents.each do |book_current| %>
                <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100 grid grid-cols-4 gap-3">
                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-pre-wrap break-words"> <%= book_current.current_type %> </td>
                  <td class="text-sm text-blue-500 font-light px-2 py-4 whitespace-pre-wrap hover:text-blue-800"><%= link_to t('links.show'), book_current %></td>
                  <td class="text-sm text-blue-500 font-light px-6 py-4 whitespace-pre-wrap hover:text-blue-800"><%= link_to t('links.edit'), edit_book_path(book_current) %></td>
                  <td class="text-sm text-blue-500 font-light px-6 py-4 whitespace-pre-wrap hover:text-blue-800"><%= link_to t('links.delete'), book_current %></td>
                </tr>
              <% end %>         
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
